#TitleScreen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.txt-wait {
    font-weight: bold;
    background-color: #2069f000;
    border: 0;
    font-size: 0.146em;
    padding: 0.3em;
    color: #fff;
    position: absolute;
    border-radius: 1em;
    bottom: 16%;
    white-space: pre-line;
}

.txt-warning {
    width: 60%;
    font-weight: bold;
    background-color: #2069f000;
    border: 0;
    text-align: center;
    white-space: pre-line;
    font-size: 0.156em;
    color: #fff;
    position: absolute;
    font-family: 'Font1';
}

#JDLogo {
    width: 60%;
    height: 60%;
    -webkit-animation: JDBounce 923ms infinite linear;
    animation: JDBounce 923ms infinite linear;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    opacity: 0;
}

.button--initgame {
    display: none;
}

.button--initgame.readya {
    display: flex;
}

.button--initgame {
    width: 2.5em;
    height: 0.29em;
    z-index: 22;
    top: 0.57em;
    position: relative;
    background: #601acf;
    border: none !important;
    outline: none !important;
    border-radius: 5em;
    color: #fff;
    padding: auto 0 auto 0;
    align-items: center;
    justify-content: center;
    will-change: transform;
}

.button--initgame.clicked {
    -webkit-animation: clicksing 1s, showgrad 2s;
    animation: clicksing 1s, showgrad 2s;
}

.button--initgame .txt-initgame {
    font-size: 0.13em;
}