/*Apple Music Style*/
#lyrics.apple {
    font-family: "SF Pro Display", "Font1", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold !important;
}
#lyrics.apple #beat {
    display: none !important;
}
#lyrics.apple .line .fill {
    background-color: #ffffff72;
    background-image: linear-gradient(90deg, var(--menu-color) 60%, #0000 100%);
    background-size: 200% 100%;
    background-position: 200% 0%;
    font-weight: bold !important;
}
#lyrics.apple .line.rtl .fill {
    background-color: #ffffff72;
    background-image: linear-gradient(-90deg, var(--menu-color) 60%, #0000 100%);
    background-size: 200% 100%;
    background-position: -100% 0%;
    font-weight: bold !important;
}
#lyrics.apple .line.rtl .fill.filled {
    background-image: linear-gradient(-90deg, var(--menu-color) 60%, #0000 100%);
    background-size: 200% 100%;
    background-position: 100% 0%;
}
#lyrics.apple .line .fill.filled {
    background-image: linear-gradient(90deg, var(--menu-color) 60%, #0000 100%);
    background-size: 200% 100%;
    background-position: 0% 0%;
    transition: background-position linear 200ms, filter 3s .6s;
    animation: appleFocused 5s;
    -webkit-animation: appleFocused 5s;
    filter: drop-shadow(0 0 0.15em rgb(255, 255, 255)) drop-shadow(0 0 0.18em rgba(244, 245, 174, 0.63));
    transform: translateY(-5%);
}
#lyrics.apple .line .fill.filled:not(.done){
    font-size: 110%;
    transition: background-position linear 200ms, filter 3s .9s, font-size 3s .8s;
}
#lyrics.apple .line .fill.filled.done {
    filter: none;
    -webkit-filter: none;
    transition: filter 3s, font-size 3s;
}
#lyrics.apple .line .fill.filled .filler {
    display: none;
}
#lyrics.apple .line.current {
    filter: blur(0.0em) drop-shadow(0 0 0.5em #0000002a)!important;
}
#lyrics.apple .line:not(.current) {
    filter: blur(0.06em) drop-shadow(0 0 0.5em #0000002a)!important;
}
#lyrics.apple .line.previous {
    transition: .6s 1s opacity, .2s .01s transform !important;
    opacity: 0;
    transform: translateY(-231%) scale(0.95);
}
#lyrics.apple .line.previous .fill.filled.done {
    background-size: 0% 0%;
    animation: AppleFakeHide 1s;
}
#lyrics.apple .line.next {
    opacity: 1.0;
    -webkit-animation: nextLineInfApple 0.38s;
    animation: nextLineInfApple 0.38s !important;
    margin-top: 0.13% !important;
    transform: translateY(0.3em) perspective(0px) rotateX(0deg) scale(0.9);
}
#lyrics.apple .line.current {
    transition: .2s all, .1s color, filter .3s !important;
    opacity: 1;
}
@keyframes appleFocused {
    0% {
        transform: translateY(0%);

    }

    20%,
    100% {
        transform: translateY(-5%);
    }
}

@keyframes AppleFakeHide {
    0% {
        background-color: var(--menu-color);
    }

    100% {
        background-color: #ffffff72;
    }
}
