/*DO NOT REMOVE*/
#sceneDraw {
    visibility: visible;
}

/*======*/


#video-player {
    display: block !important;
}

#debugger .filler {
    width: 100%;
    overflow: hidden;
    transition: width, left;
    will-change: width, left;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
}

#debugger .filler.show {
    color: orange;
}

#debugger .fill {
    position: relative;
}

.hud {
    width: 100%;
    height: 100%;
    display: inline !important;
    transition: opacity 0.2s;
}

.hud:not(.show) {
    opacity: 0;
}

#in-game-video {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

.videoplayer {
    width: 100%;
    height: 100%;
}

#video-player:has(.video:not(.showbanner)) #video-banner {
    opacity: 0;
    transition: opacity .4s .2s;
    -webkit-transition: opacity .4s .2s;
    -moz-transition: opacity .4s .2s;
    -ms-transition: opacity .4s .2s;
    -o-transition: opacity .4s .2s;
}

#debugger {
    z-index: 99;
    font-size: 0.2em;
    color: #fff;
    position: absolute;
    white-space: pre-line;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.25);
}

#pictos {
    width: 19.6%;
    height: 21%;
    position: absolute;
    bottom: 5.3%;
    right: 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.35);
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.25);
    transition: .2s all !important;
}

#lyrics {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0.2em;
    left: 0;
    font-size: 0.257em;
    bottom: 5.2em;
    font-weight: bolder !important;
    letter-spacing: 0.02em;
    text-align: center;
    justify-content: center;
    z-index: 1;
}

#lyrics:has(.line.current) #beat {
    opacity: 1;
}

#lyrics .line {
    display: flex;
    white-space: pre;
    z-index: 1;
    top: 0;
    left: 0;
    filter: drop-shadow(.057em 0.057em 0.001em #00000070) !important;
    position: relative;
    will-change: width, background, font-size, filter;
    float: left;
}

#lyrics .line .fill {
    position: relative;
    float: left;
    white-space: pre;
}

#lyrics .line.rtl .fill {
    background-position: right;
}

#lyrics .line .filler {
    width: 0;
    overflow: hidden;
    transition: width, left;
    will-change: width, left;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--menu-color, #fff);
    white-space: pre;
    transition-timing-function: ease;
    -webkit-transition: width, left;
    -moz-transition: width, left;
    -ms-transition: width, left;
    -o-transition: width, left;
    will-change: width, background, font-size, filter;
}

#lyrics .line.rtl .filler {
    left: 100%;
    float: right;
    text-align: right;
    clear: right;
    /*IDK HOW TO FIX THIS, SO SORRY*/
    direction: rtl;
}

#lyrics .line.rtl .fill {
    direction: rtl;
}

#lyrics .line .fill.filled .filler {
    overflow: hidden;
    width: 100%;
    transition-timing-function: linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: initial;
    z-index: -1;
    left: 0;
    transition-duration: var(--slideDuration, 200ms);
}

#lyrics .line .fill.filled {
    background-size: 100% 100%;
    transition: background-size linear var(--slideDuration, 200ms);
}

#lyrics .line .fill:not(.filled) {
    transition: background-color 200ms !important;
}

#lyrics .line .fill {
    background-color: #888;
    background-image: linear-gradient(90deg, var(--menu-color) 100%, #fff 100%);
    background-size: 0% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    will-change: width, background, background-size, background-position, font-size, filter;
}

#lyrics .line.current .fill,
#lyrics .line.previous .fill {
    background-color: #d9d9d9fa;
}

#lyrics .line.current,
#lyrics .line.previous {
    opacity: 1;
    z-index: 2;
    transform: translateY(-101%);
}

#lyrics .line {
    display: block;
    position: absolute;
    color: #888;
    will-change: color, transform, opacity;
    left: auto;
}

#lyrics .line.next {
    opacity: 1.0;
    -webkit-animation: nextLineInf 0.28s;
    animation: nextLineInf 0.28s !important;
    margin-top: 0.13% !important;
    transform: translateY(0.3em) perspective(0px) rotateX(0deg) scale(0.9);
}

#lyrics .line.current {
    transition: .2s all, .1s color !important;
    opacity: 1;
}

#lyrics .line.previous {
    opacity: .0;
}

#lyrics .line.overlap.previous {
    opacity: .0;
    transform: translateY(-205%);
}

#lyrics .line.overlap.previous {
    transition: opacity .2s;
}

#lyrics .line.hidden {
    visibility: hidden;
}

#lyrics .line.overlap.previous:has(.fill:not(.done)) {
    opacity: 1;
    transform: translateY(-205%);
    transition: transform .2s;
}

#lyrics .line.previous2 {
    opacity: 0;
    transform: translateY(-205%);
}

#beat {
    width: 20%;
    height: 0.1em;
    bottom: -0.28em;
    /* left: 0em; */
    background: var(--menu-color, #fff);
    border-radius: 200rem;
    border-bottom: none;
    opacity: 0;
    transition: opacity .3s, .3s width;
    visibility: visible;
    display: none;
    position: absolute;
    text-align: center;
}

#lyrics:has(.line.current .fill[data-singer="v2"]) #beat {
    background: var(--menu-color-2, #ff0000);
}

#lyrics .fill[data-singer="v2"] {
    --menu-color: var(--menu-color-2, #ff0000)
}


#lyrics.no-animation * {
    transition: none !important;
    -webkit-animation: none !important;
    animation: none !important;
}

html:not(.ipad) .hud.beat>#lyrics>#beat {
    -webkit-animation-name: BeatCoach !important;
    animation-name: BeatCoach !important;
}

.picto {
    display: block;
    height: 1.46em;
    width: 1.46em;
    left: -1.17em;
    bottom: 0;
    -webkit-filter: drop-shadow(.18em .18em .15rem #2020209e);
    filter: drop-shadow(.18em .18em .15rem #2020209e);
    position: absolute;
    transform-origin: bottom;
}

#pictos.multi-coach {
    width: 30.6%;
}

#pictos.multi-coach .picto {
    height: 1.36em;
    width: 1.95703125em;
    left: -44.7%;
}

#pictos .picto .texture {
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(0.99);
    text-align: center;
    transform-origin: bottom;
    will-change: transform;
}

.hud.even #camera-container video {
    -webkit-animation: BeatPictos .35s !important;
    animation: BeatPictos .35s !important;
}

.hud.odd #camera-container video {
    -webkit-animation: BeatPictos2 .35s !important;
    animation: BeatPictos2 .35s !important;
}

.hud.odd #camera-container {
    -webkit-animation: ShadowDu .35s !important;
    animation: ShadowDu .35s !important;
}

@-webkit-keyframes BeatPictos {
    0% {
        transform: scale(1.1);
    }

    15% {
        transform: scale(1.045678);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes BeatPictos {
    0% {
        transform: scale(1.1);
    }

    15% {
        transform: scale(1.045678);
    }

    100% {
        transform: scale(1.1);
    }
}

@-webkit-keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes BeatPictos2 {
    0% {
        transform: scale(1.1);
    }

    15% {
        transform: scale(1.095678);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes BeatPictos2 {
    0% {
        transform: scale(1.1);
    }

    15% {
        transform: scale(1.095678);
    }

    100% {
        transform: scale(1.1);
    }
}

@-webkit-keyframes BeatCoach {
    0% {
        transform: scale(1.0);
    }

    15% {
        transform: scale(1.05, 1.1);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes BeatCoach {
    0% {
        transform: scale(1.0);
    }

    15% {
        transform: scale(1.05, 1.1);
    }

    100% {
        transform: scale(1.0);
    }
}

@-webkit-keyframes PictosScroll {
    0% {
        transform: translateX(6em);
    }

    100% {
        transform: translateX(0em);
    }
}

@keyframes PictosScroll {
    0% {
        transform: translateX(6em);
    }

    100% {
        transform: translateX(0em);
    }
}

@-webkit-keyframes PictosScrollSolo {
    0% {
        transform: translateX(3.8em);
    }

    100% {
        transform: translateX(0em);
    }
}

@keyframes PictosScrollSolo {
    0% {
        transform: translateX(3.8em);
    }

    100% {
        transform: translateX(0em);
    }
}

@-webkit-keyframes PictosHide {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.12);
        opacity: 0;
    }
}

@keyframes PictosHide {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.12);
        opacity: 0;
    }
}

@keyframes nextLineInf {

    0%,
    20% {
        opacity: 0;
        transform: perspective(0px) translateY(1.5em) rotateX(0deg)scale(0.8);
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0.3em) perspective(0px) rotateX(0deg) scale(0.9);
    }
}

@keyframes nextLineInfApple {

    0%,
    20% {
        opacity: 0;
        transform: perspective(0px) translateY(1.5em) rotateX(0deg)scale(0.8);
    }

    60% {
        opacity: 1;
        filter: blur(0.12em);
    }

    100% {
        opacity: 1;
        transform: translateY(0.3em) perspective(0px) rotateX(0deg) scale(0.9);
        filter: blur(0.06em);
    }
}

#camera-container video {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    -o-object-fit: cover;
    object-fit: cover;
}

#camera-container span {
    display: block;
    position: absolute;
    z-index: 1;
    font-size: 0.2em;
    bottom: 0.1em;
    left: 0.1em;
}

#camera-container {
    position: absolute;
    width: 1.7em;
    height: 1.1em;
    right: 0.1em;
    background: #0000006b;
    top: 0.1em;
    opacity: 0;
    border-radius: 0.1em;
    overflow: hidden;
    box-sizing: border-box;
    border: 0.02em solid var(--menu-color)
}

#pausescreen {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
    position: absolute;
    background-color: #111111de;
    color: #fff;
    -webkit-animation: FadeIn .5s;
    animation: FadeIn .5s;
}

.txt-pause {
    font-size: 0.33em;
    width: 100%;
    display: block;
    position: absolute;
    left: auto;
    right: auto;
    text-align: center;
    top: 3em;
}

.itempause {
    width: 1.4em;
    height: 1.8em;
    top: 0;
    display: inline-block;
    transform: scale(0.8);
}

.song--decoration {
    width: 100%;
    height: 80%;
    padding: 0.09em;
    position: relative;
    box-sizing: border-box;
}

.list-wrapper {
    top: 38%;
    width: 100%;
    height: 40%;
    display: block;
    position: relative;
    /* overflow: scroll; */
    box-sizing: border-box;
}

.itempause.selected {
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

.songlist-container::-webkit-scrollbar {
    display: none;
}

.songlist-container {
    width: 100%;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    display: flex;
    justify-content: center;
}

.itempause .song-title {
    color: #fff;
    width: 100%;
    font-size: 0.17em;
    position: relative;
    padding-left: 0.6em;
    padding-right: 0.6em;
    z-index: 3;
    display: block;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden
}

.itempause img {
    width: 100%;
    height: 100%;
    border-radius: 0.13em;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    background-color: #00000073;
}

.itempause .song--decoration::after {
    content: '';
    width: 92%;
    height: 92.4%;
    position: absolute;
    border: 0.03em solid rgb(0, 98, 255);
    border-radius: 0.2em;
    display: block;
    z-index: 1;
    top: 2%;
    left: 2%;
    transition: opacity .2s, transform .2s .2s;
    transform: scale(1.1);
    opacity: 0;
    will-change: transform, opacity, border;
    -webkit-transition: opacity .2s, transform .2s .2s;
    -moz-transition: opacity .2s, transform .2s .2s;
    -ms-transition: opacity .2s, transform .2s .2s;
    -o-transition: opacity .2s, transform .2s .2s;
}

.itempause.exit .song--decoration::after {
    color: red
}

.itempause.choosed .song--decoration::after {
    -webkit-animation: selectedbounce 1s;
    animation: selectedbounce 1s;
    border: 0.03em solid #0eaedf;
}

.itempause.selected .song--decoration::after {
    opacity: 1;
    transform: none;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.song-metadata {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, black, transparent) no-repeat;
    color: white;
    font-size: 0.3em;
    text-align: left;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    pointer-events: none;
}

.song-metadata.show {
    opacity: 1;
}

.song-metadata .title {
    position: absolute;
    top: 30%;
    width: 50%;
    left: 40%;
    height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-metadata .artist {
    position: absolute;
    top: 30%;
    width: 50%;
    font-size: 0.5em;
    text-align: left;
    left: 40%;
    top: 36%;
    height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-metadata .time {
    position: absolute;
    top: 30%;
    width: 50%;
    font-size: 0.5em;
    text-align: left;
    left: 40%;
    top: 39%;
    height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.metadata-layout {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    transition: top .5s .5s;
    -webkit-transition: top .5s .5s;
    -moz-transition: top .5s .5s;
    -ms-transition: top .5s .5s;
    -o-transition: top .5s .5s;
}

.metadata-layout.playing {
    top: -5%;
}

.song-metadata .cover {
    position: absolute;
    height: 8em;
    width: 8em;
    top: 30%;
    left: 15%;
    background-color: black;
    background-size: 100%;
    background-position: center;
    border-radius: 0.7em;
    overflow: hidden;
}

.song-metadata .cover .image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1.01);
    will-change: transform;
}

#Game:has(.hud.even) .song-metadata .cover .image {
    animation: BeatCover .5s;
    -webkit-animation: BeatCover .5s;
}

#Game:has(.hud.odd) .song-metadata .cover .image {
    animation: BeatCover2 .5s;
    -webkit-animation: BeatCover2 .5s;
}

.shortcut-ui {
    opacity: 0;
    transition: opacity 1.5s, background .3s;
    -webkit-transition: opacity 1.5s, background .3s;
    -moz-transition: opacity 1.5s, background .3s;
    -ms-transition: opacity 1.5s, background .3s;
    -o-transition: opacity 1.5s, background .3s;
}

.shortcut-ui:hover {
    opacity: 1;
    transition: opacity .3s, background .3s;
    -webkit-transition: opacity .3s, background .3s;
    -moz-transition: opacity .3s, background .3s;
    -ms-transition: opacity .3s, background .3s;
    -o-transition: opacity .3s, background .3s;
}


#Game:has(.video.hove) .shortcut-ui,
#Game:has(#pausescreen[style*="display: block"]) .shortcut-ui {
    opacity: 1;
    transition: opacity .3s, background .3s;
    -webkit-transition: opacity .3s, background .3s;
    -moz-transition: opacity .3s, background .3s;
    -ms-transition: opacity .3s, background .3s;
    -o-transition: opacity .3s, background .3s;
}

@media (pointer:coarse) {
    #Game .shortcut-ui {
        transform: scale(1.2) translateX(-1.08em) translateY(-1.08em);
        -webkit-transform: scale(1.2) translateX(-1.08em) translateY(-1.08em);
        -moz-transform: scale(1.2) translateX(-1.08em) translateY(-1.08em);
        -ms-transform: scale(1.2) translateX(-1.08em) translateY(-1.08em);
        -o-transform: scale(1.2) translateX(-1.08em) translateY(-1.08em);
    }
}



.video {
    cursor: none;
}

.video.hove {
    cursor: default;
}

@keyframes BeatCover {
    0% {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
    }

    15% {
        transform: scale(1.03);
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
    }

    100% {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
    }
}

@keyframes BeatCover2 {
    0% {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
    }

    15% {
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
    }

    100% {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
    }
}



/*Experimental*/
.blur-enabled #pausescreen {
    backdrop-filter: blur(0.1em);
    background-color: #2121215b;
}

.blur-enabled .song-metadata.show {
    backdrop-filter: blur(0.16em);
}

.shortcut-ui .button.vocalbutton.on {
    background-image: url(../../assets/textures/ui/ic_mic_enabled.webp);
}

.shortcut-ui .button.vocalbutton.off {
    background-image: url(../../assets/textures/ui/ic_mic_disabled.webp);
}

.hud.paused * {
    animation-play-state: paused !important;
}

#players {
    width: 2em;
    height: 1.2em;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 0.5em;
    top: 0.25em;
}

.player-name {
    width: 100%;
    font-size: 0.25em;
    color: white;
    text-shadow: 0.03em 0.03em black;
    top: 18%;
    position: absolute;
    text-align: right;
    z-index: 1;
}

span.scores {
    color: white;
    text-shadow: 0.03em 0.03em black;
    font-size: 0.22em;
    top: 0;
    position: absolute;
    right: 0em;
    z-index: 1;
}

.player-color {
    width: 50%;
    background: var(--PlayerColorBlue);
    height: 0.07em;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    top: 35%;
    z-index: -1;
}

.feedback-container {
    height: 100%;
    position: absolute;
    z-index: 0;
    display: block;
}

.feedback-bkg,
.feedback-text {
    width: 2em;
    height: 0.54em;
    position: absolute;
    display: block;
    top: 0;
    left: 0.1em;
    opacity: 0;
    border-radius: 0.05em;
}

.feedback-text {
    height: 0.36em;
    width: 1.2em;
    background-size: cover;
    transform: rotate(354deg);
    z-index: 22;
    top: 0.1em;
}

.feedback-perfect .perfect-bkg { background: linear-gradient(-90deg, #00ff13, transparent) no-repeat; }
.feedback-yeah .yeah-bkg { background: linear-gradient(-90deg, #fff200, transparent) no-repeat right; }
.feedback-good .good-bkg { background: linear-gradient(-90deg, #00aeff, transparent) no-repeat center; }
.feedback-ok .ok-bkg { background: linear-gradient(-90deg, #6a00ff, transparent) no-repeat center; }
.feedback-bad .bad-bkg { background: linear-gradient(-90deg, #ff0000, transparent) center; }

.feedback-perfect .perfect-text {
    background: url(../../assets/textures/ui/feedback_perfect.webp) no-repeat center;
}
.feedback-yeah .yeah-text {
    background: url(../../assets/textures/ui/feedback_gold.webp) no-repeat center;
}
.feedback-good .good-text {
    background: url(../../assets/textures/ui/feedback_good.webp) no-repeat center;
}
.feedback-ok .ok-text {
    background: url(../../assets/textures/ui/feedback_ok.webp) no-repeat center;
    background-size: contain;
}
.feedback-bad .bad-text {
    background: url(../../assets/textures/ui/feedback_bad.webp) no-repeat center;
    background-size: contain;
}

.feedback-perfect.animate .perfect-bkg,
.feedback-yeah.animate .yeah-bkg,
.feedback-good.animate .good-bkg,
.feedback-ok.animate .ok-bkg,
.feedback-bad.animate .bad-bkg {
    animation: feedbackbg 0.8s;
}

.feedback-perfect.animate .perfect-text,
.feedback-yeah.animate .yeah-text,
.feedback-good.animate .good-text,
.feedback-ok.animate .ok-text,
.feedback-bad.animate .bad-text {
    animation: feedback 0.8s;
}

@keyframes feedbackbg {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes feedback {
    0% {
        opacity: 0;
        transform: scale3d(1, 1, 1) rotate(354deg) translateZ(30px);
    }
    15% {
        opacity: 1;
        transform: scale3d(1.2, 1.2, 1.2) rotate(354deg) translateZ(30px);
    }
    43% {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotate(354deg);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1) rotate(354deg);
    }
}
