#video-player {
    display: block !important;
}

.hud {
    width: 100%;
    height: 100%;
    display: inline !important;
    transition: opacity 0.2s;
}

.hud:not(.show) {
    opacity: 0;
}

#in-game-video {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

.videoplayer {
    width: 100%;
    height: 100%;
}

#debugger {
    z-index: 99;
    font-size: 0.2em;
    color: #fff;
    position: absolute;
    white-space: pre-line;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.25);
}

#pictos {
    width: 19.6%;
    height: 21%;
    position: absolute;
    bottom: 5.3%;
    right: 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.35);
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.25);
    transition: .2s all !important;
}

#lyrics {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0.2em;
    left: 0;
    font-size: 0.257em;
    bottom: 5.2em;
    font-weight: bolder !important;
    letter-spacing: 0.02em;
    text-align: center;
    justify-content: center;
}

#lyrics:has(.line.current) #beat {
    opacity: 1;
}

#lyrics .line  {
    display: flex;
    white-space: pre;
    z-index: 1;
    top: 0;
    left: 0;
    text-shadow: 0.045em 0.045em 0.04em #00000070 !important;
    position: relative;
    will-change: width;
    float: left;
}

#lyrics .line .fill {
    position: relative;
    float: left;
    white-space: pre;
    font-weight: normal;
}

#lyrics .line .filler {
    width: 0;
    overflow: hidden;
    transition: width;
    will-change: width;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--menu-color, #fff);
    transition-timing-function: linear;
}
#lyrics .line .fill.done{
    color: var(--menu-color, #fff);
}
#lyrics .line .fill.filled  .filler{
    overflow: hidden;
    width: 100%;
    transition-timing-function: linear;
}

#lyrics .line.current,
#lyrics .line.previous {
    color: #d9d9d9fa;
    opacity: 1;
    z-index: 2;
    transform: translateY(-101%);
}

#lyrics .line {
    display: block;
    position: absolute;
    color: #888;
    will-change: color, transform, opacity;
    left: auto;
}

#lyrics .line.next {
    opacity: 1.0;
    -webkit-animation: nextLineInf 0.28s;
    animation: nextLineInf 0.28s !important;
    margin-top: 0.13% !important;
    transform: translateY(0.3em) perspective(0px) rotateX(0deg) scale(0.9);
}

#lyrics .line.current {
    transition: .2s all, .1s color !important;
    opacity: 1;
}

#lyrics .line.previous {
    transition: .07s opacity !important;
    transition-delay: .01s !important;
    opacity: .0;
}

#lyrics .line.hidden {
    visibility: hidden;
}

#lyrics .line.previous.show {
    opacity: 1;
}

#beat {
    width: 20%;
    height: 0.1em !important;
    bottom: -0.28em !important;
    /* left: 0em; */
    background: var(--menu-color, #fff);
    border-radius: 200rem;
    border-bottom: none;
    opacity: 0;
    transition: opacity .3s, .3s width;
    visibility: visible !important;
    display: block !important;
    position: absolute;
    text-align: center;
}

#lyrics.one-line .line.next,
#lyrics.one-line #beat {
    opacity: 0 !important;

}

#lyrics.one-line .line.current {
    transition: opacity 0.1s, color 0.1s !important;
}

#lyrics.one-line {
    transform: scale(1.1) translateY(2em);
}

#lyrics.no-animation * {
    transition: none !important;
    animation: none !important;
}

html:not(.ipad) .hud.beat>#lyrics>#beat {
    -webkit-animation-name: BeatCoach !important;
    animation-name: BeatCoach !important;
}

.picto {
    display: block;
    height: 1.46em;
    width: 1.46em;
    left: -1.17em;
    bottom: 0;
    filter: drop-shadow(.16rem .16rem .15rem #2020209e);
    position: absolute;
    transform-origin: bottom;
}

#pictos.multi-coach {
    width: 30.6%;
}

#pictos.multi-coach .picto {
    height: 1.36em;
    width: 1.95703125em;
    left: -44.7%;
}

#pictos .picto .texture {
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(0.99);
    text-align: center;
    transform-origin: bottom;
    will-change: transform;
}

.hud.even #camera-container video {
    animation: BeatPictos .35s !important;
}

.hud.odd #camera-container video {
    animation: BeatPictos2 .35s !important;
}

.hud.odd #camera-container {
    animation: ShadowDu .35s !important;
}

@keyframes BeatPictos {
    0% {
        transform: scale(1.1);
    }

    15% {
        transform: scale(1.045678);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes BeatPictos2 {
    0% {
        transform: scale(1.1);
    }

    15% {
        transform: scale(1.095678);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes BeatCoach {
    0% {
        transform: scale(1.0);
    }

    15% {
        transform: scale(1.05, 1.1);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes PictosScroll {
    0% {
        transform: translateX(6em);
    }

    100% {
        transform: translateX(0em);
    }
}

@keyframes PictosScrollSolo {
    0% {
        transform: translateX(3.8em);
    }

    100% {
        transform: translateX(0em);
    }
}

@keyframes PictosHide {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.12);
        opacity: 0;
    }
}

@keyframes nextLineInf {

    0%,
    20% {
        opacity: 0;
        -webkit-transform: perspective(0px) translateY(1.5em) rotateX(0deg);
        transform: perspective(0px) translateY(1.5em) rotateX(0deg)scale(0.8);
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0.3em) perspective(0px) rotateX(0deg);
        transform: translateY(0.3em) perspective(0px) rotateX(0deg) scale(0.9);
    }
}

#camera-container video {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    object-fit: cover;
}

#camera-container span {
    display: block;
    position: absolute;
    z-index: 1;
    font-size: 0.2em;
    bottom: 0.1em;
    left: 0.1em;
}

#camera-container {
    position: absolute;
    width: 1.7em;
    height: 1.1em;
    right: 0.1em;
    background: #0000006b;
    top: 0.1em;
    opacity: 0;
    border-radius: 0.1em;
    overflow: hidden;
    box-sizing: border-box;
    border: 0.02em solid var(--menu-color)
}