/*Preview*/
html:focus-within {
    scroll-behavior: smooth;
}

#preview {
    height: 60%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    will-change: opacity;
}

#banner {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background: #000000;
    transition: background 0.5s, background-size 0s;
    will-change: background;
    opacity: 0.2;
    background-size: cover;
    -webkit-transition: background 0.5s, background-size 0s;
    -moz-transition: background 0.5s, background-size 0s;
    -ms-transition: background 0.5s, background-size 0s;
    -o-transition: background 0.5s, background-size 0s;
}
.blur-enabled #songselection{
    backdrop-filter: blur(0.05em);
}

.video--preview-container {
    width: 4.19em;
    height: 2.36em;
    border-radius: 0.1em;
    background-color: #00000051;
    position: absolute;
    bottom: 0.4em;
    left: 0.5em;
    overflow: hidden;
}

.video--preview {
    width: 100%;
    height: 100%;
}

.preview--glow{
    width: 4.19em;
    height: 2.36em;
    position: absolute;
    bottom: 0.4em;
    left: 0.5em;
    overflow: hidden;
    filter: blur(0.2em);
    opacity: 0;
    transform: scale(1.01);
}
#preview:has(.video-loading[style*="none"]) .preview--glow{
    opacity: 1;
}

.button--sing {
    width: 1.8em;
    height: 0.4em;
    position: absolute;
    z-index: 22;
    bottom: 0.27em;
    left: 3.3em;
    background: #601acf;
    border: none !important;
    outline: none !important;
    border-radius: 5em;
    color: #fff;
    padding: auto 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform, background-position;
    transition: .5s all;
}

.button--sing:not(.readya):hover {
    background: rgb(26, 83, 207);
    transform: scale(1.1);
}

.button--sing.clicked {
    -webkit-animation: clicksing 1s, showgrad 2s;
    animation: clicksing 1s, showgrad 2s;
}

.button--sing .txt-sing {
    font-size: 0.2em;
}

.song--details {
    font-size: 0.25em;
    color: #fff;
    bottom: 3.1em;
    left: 19.5em;
    position: absolute;
    overflow: hidden;
}

.song--details .song-artist {
    color: #ffffff9d;
    font-size: 67%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.song--details.show .song-artist {
    -webkit-animation: slideRight 1s;
    animation: slideRight 1s;
}

.song--details.show .song-title {
    -webkit-animation: slideRight 1s;
    animation: slideRight 1s;
    width: 100%;
}

@-webkit-keyframes clicksing {

    0%,
    50% {
        transform: scale(1);
    }

    5% {
        transform: scale(0.8);
    }
}

@keyframes clicksing {

    0%,
    50% {
        transform: scale(1);
    }

    5% {
        transform: scale(0.8);
    }
}

@-webkit-keyframes showgrad {
    0% {
        background-image: linear-gradient(to right, #601acf, #0eaedf, #601acf);
        background-size: 1000% 100%;
    }

    100% {
        background-size: 200% 100%;
        background-position: -15em 0;
    }
}

@keyframes showgrad {
    0% {
        background-image: linear-gradient(to right, #601acf, #0eaedf, #601acf);
        background-size: 1000% 100%;
    }

    100% {
        background-size: 200% 100%;
        background-position: -15em 0;
    }
}

@-webkit-keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

/*Songselection*/
#songselection {
    position: absolute;
    display: block;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding: 0.2em;
    box-sizing: border-box;
}

.itemsong {
    width: 1.4em;
    height: 1.8em;
    top: 0;
    display: inline-block;
}

.song--decoration {
    width: 100%;
    height: 80%;
    padding: 0.09em;
    position: relative;
    box-sizing: border-box;
}

.list-wrapper {
    top: 60%;
    width: 100%;
    height: 40%;
    display: block;
    position: relative;
    /* overflow: scroll; */
    box-sizing: border-box;
}

.itemsong.selected {
    scroll-margin-left: 1.4em;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

.songlist-container::-webkit-scrollbar {
    display: none;
}

.songlist-container {
    width: 100%;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.itemsong .song-title {
    color: #fff;
    width: 100%;
    font-size: 0.17em;
    position: relative;
    padding-left: 0.6em;
    padding-right: 0.6em;
    z-index: 3;
    display: block;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden
}

.itemsong img {
    width: 100%;
    height: 100%;
    border-radius: 0.13em;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    background-color: #00000073;
    transform: scale(0.95);
}

.itemsong .song--decoration::after {
    content: '';
    width: 92%;
    height: 92.4%;
    position: absolute;
    border: 0.03em solid white;
    border-radius: 0.2em;
    display: block;
    z-index: 1;
    top: 2%;
    left: 2%;
    transition: opacity .2s, transform .2s .2s;
    transform: scale(1.1);
    opacity: 0;
    will-change: transform, opacity, border;
}

.itemsong.choosed .song--decoration::after {
    -webkit-animation: selectedbounce 1s;
    animation: selectedbounce 1s;
    border: 0.03em solid #0eaedf;
}
.itemsong.choosed img{
    transition: transform .2s;
    transform: scale(1);
}

.itemsong.selected .song--decoration::after {
    opacity: 1;
    transform: none;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.shortcut-ui {
    background-color: #00000000!important;
    backdrop-filter: none!important;
  }


@-webkit-keyframes selectedbounce {

    0%,
    20%,
    50%,
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
}

    10%,
    30%,
    40% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
}

    0% {
        border: 0.03em solid #fff;
    }

    20%,
    100% {
        border: 0.03em solid #0eaedf;
    }

}

@keyframes selectedbounce {

    0%,
    20%,
    50%,
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
}

    10%,
    30%,
    40% {
        transform: scale(1.05);
    }

    0% {
        border: 0.03em solid #fff;
    }

    20%,
    100% {
        border: 0.03em solid #0eaedf;
    }

}

  
  